.table-wrapper {
      max-height: 400px;
      overflow-y: auto;
      border: 1px solid #ccc;
      border-radius: 8px;
}

.fl-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.fl-table th, .fl-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.fl-table th {
    background-color: #f4f4f4;
}

.fl-table tr:hover {
    background-color: #f1f1f1;
}

.table-wrapper::-webkit-scrollbar {
    width: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}