@inherits LayoutComponentBase

<!-- Sidebar -->

<div class="sidebar">
    <a href="/"><i class='bx bx-search-alt-2'></i></a>
    <a href="/add"><i class='bx bx-plus'></i></a>
    <a href="/delete"><i class='bx bx-trash'></i></a>
    <a href="/edit"><i class='bx bx-edit-alt'></i></a>
</div>

<!-- Page -->

<div class="main">
    <div class="container">
        @Body
    </div>
</div>